@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

$deltaGreen: #40a351;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  transition: ease-in-out 0.2s;
}

.timer {
  font-size: 10rem;
  font-weight: 700;
}

.progress,
.progress-bar {
  transition: ease-in-out 0.2s;
  height: 25px;
}

.progress {
  background-color: #c7c7c7;
}

.progress-bar {
  background-color: $deltaGreen;
}

.milestone {
  &-container {
    position: relative;
    width: 100%;
  }

  &-bar {
    position: absolute;
    top: -12.5px;
    width: 5px;
    height: 50px;
    background-color: #2b2b2bc0;
    border-radius: 0.5rem;
    // center translate:
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
  }

  &-point {
    position: absolute;
    top: 10px;
    font-size: 1.4rem;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    transform: translateX(50%);
    opacity: 0.7;
  }

  &-min {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &-active {
    color: darken($deltaGreen, 10%);
    font-weight: 700;
    font-size: 1.7rem;
    opacity: 1;
  }
}

.remains {
  opacity: 0.7;
}

.reset-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: $deltaGreen;
  color: #fff;

  &:hover {
    background-color: darken($deltaGreen, 5%);
    color: #fff;
  }
}

.github-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: $deltaGreen;
  color: #fff;

  &:hover {
    background-color: darken($deltaGreen, 5%);
    color: #fff;
  }
}

// .theme-btn {
//   position: absolute;
//   top: 10px;
//   left: 10px;
//   background-color: $deltaGreen;
//   color: #fff;

//   &:hover {
//     background-color: darken($deltaGreen, 5%);
//     color: #fff;
//   }
// }
